@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* font-family: Roboto Mono; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
}

body {
  background-color: rgb(234, 234, 234);
}

.calc-container {
  width: 250px;
  height: 300px;
  background-color: lightslategray;
  margin: 7rem auto;
  padding: 5px;
  position: relative;
}

.calc-container span input {
  width: 100%;
  height: 4rem;
  outline: none;
  border: none;
  font-size: large;
  padding: 5px;
}

.numbers {
  height: 100%;
  background-color: brown;
}

.operators button:hover {
  background-color: darkgray;
}

.result {
  position: absolute;
  right:13px;
  top: -30px;
  width: 90%;
  border-radius: 9px;
}

.clear {
  position: absolute;
  left: -23px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
